<article class="portfolio">
  <div class="container">
    <h1>portfolio component</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/poert1.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/port2.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/port3.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/poert1.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/port2.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src="assets/port3.png" alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</article>