<article class="portfolio">
  <div class="container">
    <h1>portfolio component</h1>
    <div class="row">
      @for(card of cards; track $index) {
      <div class="col-lg-4 col-md-4 col-sm-12">
        <section class="card">
          <img src={{card.imgUrl}} alt="My Image" />
          <div class="overlay">
            <div class="text">
              <i class="fa-solid fa-plus"></i>
            </div>
          </div>
        </section>
      </div>
        
      }
    </div>
  </div>
</article>