<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
      <section class="content">
          <h2>Location</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
      <section class="content">
          <h2>Around the Web</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </section>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
      <section class="content">
          <h2>About Freelancer</h2>
          <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
        </section>
      </div>
    </div>
  </div>
</footer>
<section class="copyright">
  <p>Copyright © Your Website 2021</p>
</section>
